/* form */
h1 {
  text-align: center;
}
h2 {
  margin: 10px auto;
}
section {
  margin-left: 10%;
}
table {
  width: 80%;
  border-top: 1px solid #5C584C;
  border-collapse: collapse;
}
th {
  width: 20%;
  background: #ece8d9;
}
th, td {
  border-bottom: 1px solid #5C584C;
  border-left: 1px solid #5C584C;
  padding: 10px;
}
th:first-child, td:first-child {
  border-left: none;
}
.btn-cont{
  text-align: center;
  margin: 20px 0;  
}
.btn-cont a{
  padding: 20px;  
}
